.title-underline {
	position: relative;
	&::after {
		position: absolute;
		content: "";
		display: block;
		width: 200px;
		height: 4px;
		left: 200px;
		top: 10px;
		background-color: $bl-tertiary;
		border-radius: 10px;
		z-index: -1;
	}
}
