.about-section {
	&__content {
		width: 90%;
		height: 75%;
		display: flex;
		justify-content: space-between;
		margin: 40px 0 0 2%;

		&--skills-part {
			width: 30%;
			height: 100%;
			margin-top: 20px;
			.skills {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.skill {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 33%;
					margin-bottom: 40px;
					opacity: 0;
					animation: skill-pop-in $long-animation cubic-bezier(0, 0.74, 0.63, 1.48) forwards;
					img {
						width: 64px;
						height: 64px;
						object-fit: cover;
						filter: grayscale(1) invert(1);
						transition: $short-animation;
					}
				}
				#maya {
					img {
						filter: invert(1);
					}
				}
			}
			.hobbies {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-top: 20px;
				color: #fff;
				.hobby {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 50%;
					margin-bottom: 20px;
					opacity: 0;
					animation: hobbie-fade-in $long-animation ease-in-out forwards;

					img {
						width: 48px;
						height: 48px;
						object-fit: cover;
						margin-bottom: 20px;
						filter: grayscale(1) invert(1);
					}
					p {
						font-size: 20px;
						font-weight: 500;
					}
				}
				.project-counter {
					justify-content: space-between;
					h4 {
						font-size: 56px;
						font-weight: 300;
					}
				}
			}
		}
		&--character-part {
			position: relative;
			width: 70%;
			height: 100%;
			// .canard-head {
			// 	position: absolute;
			// 	top: -120px;
			// 	left: 50%;
			// 	transform: translateX(-50%);
			// 	width: 96px;
			// 	height: 96px;
			// 	object-fit: cover;
			// 	border-radius: 50%;
			// }
			.content {
				padding: 20px 80px 0;
				p {
					color: #fff;
					font-size: 20px;
					text-align: justify;
					margin-bottom: 20px;
					opacity: 0;
					animation: text-fade-in $long-animation ease-in-out forwards;
					line-height: 1.15em;
					user-select: text;
					cursor: default;
					&::selection {
						background-color: rgba($bl-secondary, 0.8);
					}
					span {
						color: $bl-quatrary;
						font-weight: 600;
						&::selection {
							background-color: rgba($bl-secondary, 0.8);
						}
					}
				}
				.contact {
					margin-top: 40px;
				}
			}
		}
	}
}

@keyframes skill-pop-in {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes hobbie-fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes text-fade-in {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
