.big-wale-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(0deg, rgba(21, 21, 75, 1) 0%, rgba(37, 46, 111, 1) 100%);
	z-index: -9;
	.corrector {
		position: absolute;
		width: 100%;
		height: 100%;
		filter: brightness(0.6);
		transform: scale(1.03);
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: $long-animation ease-out;
		}
		#bigWaleCMove {
			position: absolute;
			bottom: 70px;
			right: -250px;
			width: 100%;
			height: 100%;
			animation: cloud-movement 90s linear infinite;
			transform: scale(0.6);
			background: url(../assets/big-waleCMove.png);
		}
	}
}

@keyframes cloud-movement {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 2500px;
	}
}
