.side-nav-bar {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 0;
	height: 100%;
	transform: translateY(-50%);
	padding: 35px 35px 0 35px;
	a {
		color: #fff;
		font-size: 1.6rem;
		letter-spacing: 2px;
	}
}
