// fonts
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	list-style: none;
	list-style-type: none;
	outline: none;
	border: none;
	text-decoration: none;
	font-family: "Josefin Sans", sans-serif;
}

// variables
$bl-primary: #b0c3dc;
$bl-secondary: #232665;
$bl-tertiary: #5a83c1;
$bl-quatrary: #7da6d4;
$bl-quinary: #35539b;

$bl-white: #e9e9f0;

// animations
$flash-animation: 100ms; // ease in out infinite...
$short-animation: 200ms;
$long-animation: 500ms;

// mixins
@mixin mobile-breakpoint {
	@media (max-width: 550px) {
		@content;
	}
}
@mixin tablet-breakpoint {
	@media (max-width: 900px) {
		@content;
	}
}
@mixin desktop-breakpoint {
	@media (max-width: 1200px) {
		@content;
	}
}
